* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.header-container{
    height: 796px;
    width:1080px;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    
}
.header-title{
    color: #272727;
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 285px;
margin-top: -60px;
}
.header-pera{
    width: 260px;
    height: 70px;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 28px;
margin-bottom: 28px;

}
.primary-btn{
    color: #FFF;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 20px 43px; 
border-radius: 8px;
background: #E55473;
border:0px;
margin-top: 10px;
cursor: pointer;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 178px;
}
.featured-sub-title{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
width:600px;
margin:auto;
}
.box-conatainer{
    width:1080px;
    padding-left: 200px;
    padding-right: 200px;
    
}
.rectangle-boxes{
    padding-left: 100px;
    padding-right:100px;
    display: flex;
    justify-content: center;
    gap:60px;
    margin-top:40px;
}
.box{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 200px;
height: 232px;


}
.rectangle-flower{
    width: 134px;
height: 174px;
margin-left:40px;
margin-right: 39px;
margin-top:58px;

    
}
.figcap{
    color: #272727; 
    display: block;
    margin:20px;
    margin-left:35px;
    margin-bottom: none;
    text-decoration-line: underline; 
}
.optional{
    
    padding-left: 100px;
    padding-right:100px;
    width:550px;
    height: 200px; 
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin:auto;
margin-top:100px;
display: flex;
gap:30px;

}
.opt{
    margin:auto;
}
.hot-deal-container{
    /* width:1040px; */
    height:520px;
    margin-top: 120px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: space-around;
align-items: center;
padding-left: 100px;
padding-right: 100px;

}
.hot-deal-pera{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.hot-deal-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 20px;
}
.hot-deal-btn{
    margin-top:20px;
    margin-left: 200px;
}
.off{
    color:#E55473;
}
.ins-img-container{
    /* padding-left: 100px;
    padding-right:100px; */
    /* width:900px;
    display: flex;
    gap:10px; */
    /* padding-right: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.ins-img{
    margin-top:30px;
    width: 300px;
    height: auto;

}
.latest-deals{
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: none;


    padding-left: 100px;
    padding-right: 100px;
}
.email{
    border-radius: 8px;
background: #FFF;
width: 700px;
height: 64px;

}
.email-btn{
    display: flex;
    gap:30px;
    align-items: center;

}
.latest-deals-subtitle{
    margin-top:40px;
    margin-bottom: 40px;
}
.footer-container{
    margin-top: 100px;
    background-color:black;
    padding-top: 40px;
    width:1313px;
    height: 400px;
}
.small{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.footer-title{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
}
.shop{
    color:white;
}
.footer-sub-title{
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.about-us{
    margin-top: 20px;
    text-align: center;
}
.bonus-p{
    text-align: center;
    margin-top: 10px;
    margin-bottom:0px;
}
.bonus-btn{
    margin-top: 20px;
    margin-left:500px;
}